$background-color: #D9D9D9;
$border-color: #585454;
$column-background-color: #A09f9f;
$user-message: lightblue;
$computer-message: green;
$radius: 0%;
$message-radius: 25%;
$height: 85%;

html {
    height: 100%;
    overflow: hidden;
}

body, main {
    background-color: $background-color;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 0 0 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: min-content;
    overflow: hidden;
    height: $height;
}

.grid-container .col {
    background-color: $column-background-color;
    border-radius: $radius;
    margin: 10px;
}

.row-1 {
    grid-row: 1 / 2;
}

.row-rest {
    height: $height;
    margin-bottom: 500px;
}

.col-1 {
    grid-column: 1 / 2;
}

.col-2 {
    grid-column: 2 / 3;
}

.col-3 {
    grid-column: 3 / 4;
}

.col-all {
    grid-column: 1 / 4;
}

h2 {
    text-align: center;
}

.bar {
    display: inline-block;
    background-color: $border-color;
    width: 100%
}

.bar .col {
    display: block;
    border-radius: $radius;
}

#problem {
    padding-left: 10px;
    display: block ruby;
}

#chat {
    display: inline;
    overflow: hidden;
}

#chat-body {
    position: relative;
    height: $height;
}

.top {
    height: 100%;
}

.bottom {
    position: absolute;
    bottom: 0px;
}

#chat-messages {
    padding-top: 5px;
    padding-bottom: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    box-sizing: border-box;
}

.message {
    border-radius: $message-radius;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    clear: both;
    inline-size: auto;
    overflow-wrap:break-word;
}

.msg-user {
    float: right;
    background-color: $user-message;
}

.msg-computer {
    float: left;
    background-color: $computer-message;
}

#user-input {
    vertical-align: bottom;
    background-color: $border-color;
    width: 100%;
    display: flex;
    
    & button {
        float: right;
    }

    & #user-input-field {
        flex-grow: 1;
    }
}

canvas {
    background-color: black;
    display: block;
  }